@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0f172a; 
    color: #1e293b;
    line-height: 1.7;
}


header {
    text-align: center;
    padding: 40px 15px;
    color: white;
}

header h1 {
    font-size: 2.8em;
    font-weight: 600;
}

header p {
    font-size: 1.2em;
    opacity: 0.9;
}


main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


.card {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h2 {
    color: #0f172a;
    margin-bottom: 15px;
    font-weight: 600;
    border-left: 5px solid #0f172a;
    padding-left: 10px;
}

.card ul {
    margin-left: 20px;
}

.card li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
}
